*{
    margin: 0; 
    padding: 0;
}

.border{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: orange;
} 
.top {
    height: 4px; 
    bottom: auto;
    max-width: 100%;
    -webkit-animation: horizontal 2s linear -1s;
    -moz-animation: horizontal 2s linear -1s;
    -o-animation: horizontal 2s linear -1s;
    animation: horizontal 2s linear -1s;
}
.left {
    width: 4px;
    right: auto;
    max-height: 100%;
    -webkit-animation: vertical 2s linear -1s;
    -moz-animation: vertical 2s linear -1s;
    -o-animation: vertical 2s linear -1s;
    animation: vertical 2s linear -1s;
}
.bottom {
     height: 4px; 
     top: auto;
     max-width: 100%;
    -webkit-animation: horizontal 2s linear;
    -moz-animation: horizontal 2s linear;
    -o-animation: horizontal 2s linear;
    animation: horizontal 2s linear;
}
.right {
    width: 4px; 
    left: auto;
    max-height: 100%;
    -webkit-animation: vertical 2s linear;
    -moz-animation: vertical 2s linear;
    -o-animation: vertical 2s linear;
    animation: vertical 2s linear;
}


@-webkit-keyframes vertical {
    0% {max-height: 0 }
    50% {max-height: 0 }
    62.5% {max-height: 25%}
    75% {max-height: 50%}
    87.5% {max-height: 75%}
}
@-moz-keyframes vertical {
    0% {max-height: 0 }
    50% {max-height: 0 }
    62.5% {max-height: 25%}
    75% {max-height: 50%}
    87.5% {max-height: 75%}
}
@-o-keyframes vertical {
    0% {max-height: 0 }
    50% {max-height: 0 }
    62.5% {max-height: 25%}
    75% {max-height: 50%}
    87.5% {max-height: 75%}
}
@keyframes vertical {
    0% {max-height: 0 }
    50% {max-height: 0 }
    62.5% {max-height: 25%}
    75% {max-height: 50%}
    87.5% {max-height: 75%}
}
@-webkit-keyframes horizontal {
    0% {max-width: 0 }
    50% {max-width: 0 }
    62.5% {max-width: 25%}
    75% {max-width: 50%}
    87.5% {max-width: 75%}
}
@-moz-keyframes horizontal {
    0% {max-width: 0 }
    50% {max-width: 0 }
    62.5% {max-width: 25%}
    75% {max-width: 50%}
    87.5% {max-width: 75%}
}
@-o-keyframes horizontal {
    0% {max-width: 0 }
    50% {max-width: 0 }
    62.5% {max-width: 25%}
    75% {max-width: 50%}
    87.5% {max-width: 75%}
}
@keyframes horizontal {
    0% {max-width: 0 }
    50% {max-width: 0 }
    62.5% {max-width: 25%}
    75% {max-width: 50%}
    87.5% {max-width: 75%}
}
@media (max-width:600px), (max-height:400px) {
    .border {
        display: none;
    }
}